# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# PyInstaller / Build outputs
build/
dist/
*.spec

# Local configuration / OS files
.DS_Store
.idea/
.vscode/

# Release files
*.zip